Dat Types and Structures

1. What are data structures, and why are they important?
 - Data structures organize and store data efficiently. They help in solving problems faster and managing data better.

2. Explain the difference between mutable and -
  - immutable data types with examples.

   - Mutable: Can be changed after creation (e.g., list: my_list = [1, 2]).
Immutable: Cannot be changed (e.g., tuple: my_tuple = (1, 2)).

3. What are the main differences between lists and tuples in Python?

 - Lists are mutable; tuples are immutable.
 - Lists use more memory; tuples are faster.
4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs, like "name": "kush".

5. Why might you use a set instead of a list in Python?
  - Sets automatically remove duplicates and are faster for certain operations.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters, while a list can store different types of elements.

7. How do tuples ensure data integrity in Python?
  - Tuples cannot be changed, so data stays safe and consistent.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a structure that maps keys to values efficiently. Dictionaries use hash tables.

9. Can lists contain different data types in Python?
  -  Yes, a list can have numbers, strings, and other lists.

10. Explain why strings are immutable in Python.
  - Strings are immutable for memory efficiency and security.

11. What advantages do dictionaries offer over lists for certain tasks?
  - They allow faster data lookup using keys.

12. Describe a scenario where using a tuple would be preferable over a list.
  - When you need fixed, unchangeable data, like coordinates (x, y).

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates.

14. How does the "in" keyword work differently for lists and dictionaries?

  - In lists, it checks for values.
  - In dictionaries, it checks for keys.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, tuples are immutable, meaning their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case.
  - A dictionary inside another dictionary. Example:
  {"student1": {"name": "satyam", "age": 20}}

17. Describe the time complexity of accessing elements in a dictionary.
  - O(1) , average.

18. In what situations are lists preferred over dictionaries?
  - When you don’t need key-based access and data has a natural order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - They store elements by key-value pairs, not in a specific sequence.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve by index.
  - Dictionaries retrieve by key.

PRACTICAL QUESTION :

In [ ]:
# 1. Write a code to create a string with your name and print it
name = "satyam"
print(name)

John Doe

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "satyam", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {"name": "aashu", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {"name": "dhruv", "age": 30}
print(person["name"])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {"name": "manish", "age": 22, "city": "raipur"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {"name": "rahul", "city": "bhilai"}
print("city" in person)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[26, 46, 64, 76, 78]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)